.simbolo {
    width: 250px;
    height: 250px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
}

.imgBanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}

.background-sobrenos {
    background-color: #191919;
    color: #FFFF;
}

.imgSobrenos {
    width: 400px;
    height: 400px;
}

#rspv{
background-color:#363636;
color:white;
padding: 50px;

}
#rspv h1{
    font-size:22px;
    text-align: center;
}


.icons{
    margin-left: auto;
    margin-right: auto;
    display:block;
    color:white;
    filter: brightness(0.4);
    filter: invert(75%)
}
hr{
    background-color:white;
    width: 40%;
}

#topo{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.63)
      ),
      url("../images/fundo3.jpg") no-repeat;
      background-size: cover;  
      color:white;
      height: 500px;
      margin:0;
      background-attachment: fixed;

}
#gestao{
    padding:33px;
    margin-top:60px;
}
#contato{
    color:white;
    padding: 50px;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.63)
    ),
    url("../images/fundo-email.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;  
}
#contato::after{
    content:'';
    background-color:#0E1216;
    z-index:99;
}
label{
    margin:10px;
}

.btn-success{
margin-bottom:20px;
background-color: #2D4B61 !important ;
border-color:#2D4B61 !important ;
color:white;
}
.tel{
    color:#5E91B6 ;
    font-weight: 700;
    font-size:29px;
}
#telefone{
    margin-top: 8%;
}
a{
    color:white;
}
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    
    
}

.navbar.scrolled {
    background: rgb(255, 249, 249); /* IE */
    background: rgb(250, 250, 250); /* NON-IE */
    color:black !important;

}

.navbar.scrolled a {
    color:black !important;

}
 a {
    color: white !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}