<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/Layout.css">
        <link rel='stylesheet' href="../css/bootstrap.min.css">
        <script type='text/javascript' src='../js/bootstrap.min.js'></script>
    </head>

    <div class="container-fluid">
      <nav class="navbar navbar-light " style='background-color: #ffff;'>
        <a class="navbar-brand" href="index.html">
          <img src="../images/simbolo.png" width="50" height="50" alt="">


          </div>
        </nav>
      </div>

    <body>
  
        
    </body>
</html>